/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom global styles here */
body {
  background-color: #ded9d9;
}

.layout {
  padding-left: 6rem;
  padding-right: 6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none; /* Remove default list styles */
  padding: 2rem 0; /* Add padding to the top and bottom */
  margin: 0; /* Remove default margin */
  width: 60%; /* Ensure it spans the entire width */
}

.navbar li a span {
  flex: 1; /* Make them stretch evenly */
  margin-right: 10px; /* Optional: Add some spacing between items */
  transition: font-size 0.5s, color 0.5s; /* Increase the transition duration for transform */
}



.navbar li a span:hover {
  color: #787572;
  /* transform: scale(1.08); */
  font-size: 1.08em;
}