/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure it spans the viewport height */
}

/* Your custom global styles here */
body {
  background-color: #101010;
  max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important;
  /* REMOVE THIS COLOR CHANGE */
  color: aliceblue;
}

ul.list {
  list-style: none;
  list-style-position: inside;
  padding-left: 10px;
}

ul.list li.sub-bullet {
  list-style: disc;
  list-style-position: inside;
  padding-left: 20px;
}

a.link {
  text-decoration: underline;
}

.px-page {
  max-width: 75%;
  margin: auto;
}

.layout {
  padding-left: 6rem;
  padding-right: 6rem;
}

section {
  display: block;
}

.sidebar {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none; /* Remove default list styles */
  padding: 5% 5% 5%; /* Add padding to the top and bottom */
  margin: 2%; /* Remove default margin */
  width: 60%;
}

.navbar span {
  flex: 1; /* Make them stretch evenly */
  margin-right: 10px; /* Optional: Add some spacing between items */
  transition: font-size 0.5s, color 0.5s; /* Add a transition for font-size and color */
  font-size: 16px; /* Initial font size */
  color: #ffffff;
  padding: 0.25rem 0.5rem 0.25rem;
}

.navbar span:hover {
  color: #2b3eb9; /* Change the text color on hover */
  font-size: 20px; /* Increase the font size on hover */
}

/* Index Page */

.index-header {
  display: flex;
  align-items: center;
}

.index-header-text-container {
  margin-left: 20px;
}

.rounded-image {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.welcome-header-font {
  font-weight: bold;
  padding-bottom: 2rem;
}

.social-media-container {
  text-align: center; /* Center the content horizontally */
}

.social-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px; /* Vertically center the content */
  text-align: center; /* Center the content horizontally */
}

.social-icon img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle; /* Vertically center the image */
}


/* Experiences page */

.title-organization-container {
  display: flex;
  justify-content: space-between;
}

.vertical-timeline-element-title {
  margin: 0;
  font-weight: bold;
  font-size: large;
}

.vertical-timeline-element-organization {
  font-style: italic;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  border:solid 1px #ffffff !important;
  background: #111111 !important;
}

.work-icon {
  background: rgb(255, 255, 255);
  color: #fff;
}

.timeline-element-icon-work {
  width:50px !important;
  height:50px !important; 
  padding-bottom: 10px;
}

.school-icon {
  background: rgb(255, 255, 255);
  color: #281c1c;
}

.timeline-element-icon-school {
  width:50px !important;
  height:50px !important; 
  padding-bottom: 15px;
}

.internship-icon {
  background: rgb(255, 255, 255);
  color: #fff;
}

.timeline-element-icon-internshp {
  width:50px !important;
  height:50px !important; 
  padding-bottom: 8px;
}

/* .vertical-timeline-element-icon {
   Override React vertical timeline element icon CSS here usign this selector 
} */

/* Project Item Rows on Projects page */

div.project-items-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* div.item-subcontainer {
  
} */

.subcontainer-image {
  width: auto;
  height: auto;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  scale: 1.5;
}

.modal-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}